body {
    background-image: url(image/FONNDOO.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}
header {
    background-color: #a3b6b4;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

h2 {
    color: #004d40;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #00796b;
    padding: 8px;
    text-align: left;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    text-align:      center;
    padding: 10px;
    background-color: #557900;
    color: rgb(255, 255, 255);
}


